
{% assign dateago1 = 'now' | date: '%s' %}
{% assign dateago2 = site.posts[0].date | date: '%s' %}
{% assign dateago3 = dateago1 | minus: dateago2 %}
{% assign dateago4 = dateago3 | divided_by: 86400 %}
{% capture dateago5 %}
    Last incident
    {% case dateago4 %}
        {% when 0 %}today
        {% when 1 %}{{ dateago4 }} day ago
        {% else %}{{ dateago4 }} days ago
    {% endcase %}
{% endcapture %}
<div class="container">
    <div class="row justify-content-center">
        <nav class="navbar col-md-8">
            <a class="navbar-brand text-dark" href=" {{ '/' | absolute_url }}">{{ site.title }}</a>
            {% if site.posts[0] %}
                <br class="d-lg-none d-xl-none">
                <strong class="text-muted text-uppercase d-lg-none d-xl-none" data-toggle="tooltip" title="{{ dateago2 | date_to_xmlschema }}" style="cursor: help;">{{ dateago5 }}</strong>
                <strong class="navbar-text text-muted text-uppercase float-right d-none d-lg-block d-xl-block" data-toggle="tooltip" title="{{ dateago2 | date_to_xmlschema }}" style="cursor: help;">{{ dateago5 }}</strong>
            {% endif %}
        </nav>
    </div>
</div>
